.station-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
}

.station-form {
  display: flex;
  justify-content: center;

  & input {
    height: 2em;
    border: none;
    border-color: transparent;
    background: inherit;
    border-bottom: 3px solid black;
    font-family: inherit;
    font-size: 3em;
    text-align: center;
    width: 50%;
    transition-property: width;

    &:focus {
      width: 100%;
      transition: all 0.3s ease-in;
    }
    

    &:blur {
      width: 35%;
      transition: all 0.3s ease-in; 
    }

    &:hover {
      cursor: pointer;
    }
  }
}