@import "./device-widths";

.form-suggestions-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 2rem;

  @media (min-width: 990px) {
    width: 60%;

}

  @media (min-width: 660px) {
    width: 70%;
  }
}

.form-suggestion {
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;

  & h2 {
    font-weight: 100;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    background-color: white;
  }

}