.form-suggestions-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 2rem;
}

.form-suggestion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    border: 1px dotted black;
  }

  & h2 {
    font-weight: 100;
  }
}