.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 5em;
  text-align: center;
}

.accessibility-image {
  max-width: 100px;
  height: auto;
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite alternate;
}
@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

aside {
  height: 2em;
}
